html, body{
  margin: 0;
}
h1
{
  margin: 0;
}
.container{
  background-color: #000000;
  height: 100vh;
  width: 100%;
  display: flex;
}
.container__title{
  align-self: center;
  color: white;
  font-size: 6em;
  text-align: center;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  margin-right: 1em;
  margin-left: 1em;

}
.container__scrolldown{
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: none;
}
.container__scrolldownimage{
  height: 15vw;
}
